.Wrapper {
  width: 600px;
  margin: 0 auto;
}
.Heading {
  font-style: 20px;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #00f;
}

.Btn {
  font-size: 16px;
  width: 200px;
  padding: 10px;
  background: linear-gradient(to bottom, #998c8c, rgb(110 95 95));
  color: #19f23d;
}

.TextField {
  width: 100%;
  padding: 5px;
  margin: 10px auto;
}
